<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3"><h4>Registration</h4>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" placeholder="Name" class="form-control" name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="D.O.B" class="form-label">D.O.B</label>
                    <input type="date" placeholder="D.O.B" class="form-control" name="dob" [(ngModel)]="dob">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="D.O.B" class="form-label">Phone</label>
                    <input type="text" placeholder="phone" class="form-control" name="phone" [(ngModel)]="phone">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="D.O.B" class="form-label">Place</label>
                    <input type="text" placeholder="Place" class="form-control" name="place" [(ngModel)]="place">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="D.O.B" class="form-label">Email</label>
                    <input type="email" placeholder="email" class="form-control" name="email" [(ngModel)]="email">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">Password</label>
                    <input type="password" placeholder="password" class="form-control" name="pass" [(ngModel)]="pass">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">Password</label>
                    <input type="password" placeholder="confirm password" class="form-control" name="cpassword" [(ngModel)]="cpassword">
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" (click)="readValue()" [disabled]="status">Sign Up</button>
                </div>
                <a routerLink="/">back to login...</a>
        </div>
    </div>
    </div>
</div>